@import 'mixin';
@import 'variables';
@import 'common';


body {
  font-family: $font;
    background: $white;
}

.mg {
  margin: 7rem 0 4rem 0;
}

.logo {
	color: $blue;
	font-size: 4rem;
    font-weight: 200;
    padding-right: 20rem;
    margin: 1rem;
    padding-left: 25rem;
    text-align: center;
    position: relative;
	@include transform(rotate(0deg));
    @include transition(all 350ms ease);
    
    &:hover{
        color:$beige;
    }
}

.head {
	color: $orange;
	font-size: 3.8rem;
	font-weight: 200;
    margin: 1rem;
    text-align: center;
}

*, *:before, *:after {
	@include box-sizing(border-box);
}

.site-outer {
	overflow: hidden;
	
	.navbar {
		background-color: $white;
		@include transition(all 250ms ease-in-out);
		&.slide-right {
			@include transform(translate3d(250px, 0, 0));
		}
	}
	
	.site-inner {
		position: relative;
		margin: 0;
		padding: 0;
		@include transition(all 250ms ease-in-out);
		@include transform(translate3d(0, 0, 0));

		&.slide-right {
	    @include transform(translate3d(250px, 0, 0));
		}
	}
}

.container-menu {
    margin: 0 auto;
    padding-bottom: 2rem;
	
	&:before,
	&:after {
		content: "";
		display: block;
		zoom: 1;
	}
	
	&:after {
		clear: both;
	}
	
	.menu {
		float:left;
		padding: 3rem 1.5rem;
		cursor: pointer;
		position: relative;
		display: inline-block;
		width: 8rem;
		
		& div {
			width: 3rem;
			height: .4rem;
			background-color: $black;
			margin-bottom: .4rem;
			@include transition(all 500ms ease);
			position: absolute;
			
			&:nth-child(1) {
					left: 1.5rem;
					top: 2rem;
			}
			
			&:nth-child(2) {
				left: 1.5rem;
				top: 2.8rem;
				
				&:after {
					content: "";
					position: absolute;
					left: 0;
					top: 0;
					width: 5rem;
					height: .4rem;
					background-color: $black;
					@include transition(all 350ms ease);
				}
			}
			
			&:nth-child(3) {
				right: 1.5rem;
				top: 3.6rem;
			}
		}
		
		&.active {
			& div:nth-child(1),
			& div:nth-child(3) {
				width: 0;
			}
			& div:nth-child(2) {
				@include transform(rotate(-45deg));
				
				&:after {
				@include transform(rotate(90deg));
				}
			}
		}
	}

	.logotype {
		cursor: pointer;
		float: left;
		
		& div {
			margin: 0;
		}
	}
	
	.cart {
        float: right;
        padding: .8rem 1rem 0;
		
		h3 {
			font-size: 1.3rem;
			font-weight: 300;
			text-transform: uppercase;
		}
	}
}

.accordion-group {
    overflow: hidden;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    width: 100%;
    height: 700px;
		@include transition(all 300ms ease);
  
  & li {
    cursor: pointer;
    position: relative;
    display: block;
    overflow: hidden;
    float: left;
    margin: 0;
    padding: 1.6em;
    list-style: none;
    width: 16.66666667%;
    height: inherit;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    @include transition(all 250ms ease-in-out);
    
    & h3 {
			position: relative;
      color: $white;
      text-transform: uppercase;
      letter-spacing: .15rem;
      padding: 0;
      font-weight: 300;
			margin: 6.5rem 0 0;
    }
    
    & .accordion-overlay {
      position: absolute;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
        @include transition(all 250ms ease-in-out);
    }
    
    & section {
      display: table;
      width: 75%;
      height: auto;
      margin: 0 auto;
      min-height: 100%;
			
			&.big-section {
				width: 100%;
			}
      
      & article {
        display: table-cell;
        vertical-align: middle;
        padding: 4rem;
        position: relative;
        right: -200%;
        @include transition(all 250ms ease-in-out);
        
        & p {
          background-color: rgba(255, 255, 255, .8);
          padding: 1.6rem;
          color: $black;
          font-size: 1.6rem;
          letter-spacing: .15rem;
          text-align: center;
       
          &:before,
          &:after {
            content: "";
            display: block;
            height: 1px;
          }
        }
      }
    }
    
    &.out {
      width: 50%;
      
      & section {
        
        & article {          
          right: 0;
        }
      }
    }
  }
}

.navigation {
	background-color: $white;
	overflow: auto;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	@include transition(all 250ms ease-in-out);
	@include transform(translate3d(-250px, 0, 0));
	
	&:before,
	&:after {
		content: "";
		display: block;
		zoom: 1;
	}
	
	&:after {
		clear: both;
	}
	
	&.slide-right {
	@include transform(translate3d(0, 0, 0));
	}
	
	&-login {
		padding: 2rem;
		line-height: 2;
		border: none;
		width: 100%;
		@include border-radius(0);
		font-size: 1.2rem;
		background-color: $red;
		font-weight: 100;
		color: $white;
		text-transform: uppercase;
	}
	
	&-search {
		padding: 2rem 2rem 0;
	}
	
	&-content {
		padding: 2rem;
		
		h3 {
			color: $red;
			text-transform: uppercase;
			letter-spacing: .15rem;
			padding: 0;
            font-weight: 300;
            font-size: 1.3rem;
            text-align: center;
            color: $blue;
		}
		
		.navigation-menu {
			list-style: none;
			padding: 0;
			
			& li {
				display: block;
				padding: .8rem 0;
				margin: 1rem 0;
				
				& a {
					color: $black;
					text-transform: uppercase;
					font-size: 1.1rem;
					
					&.active,
					&:active,
					&:hover,
					&:focus {
						color: $red;
						text-decoration: none;
					}
				}
			}
		}
	}
}

.to-checkout {
	position: fixed;
	top: 0;
	right: 0;
	width: 450px;
	height: 100%;
	background-color: $red;
	z-index: 10001;
	@include transform(translate3d(450px, 0, 0));
	&-inner {
		padding: 2.5rem;
		color: $white;
	}
	&-list {
		padding: 0;
		margin: 0;
		display: block;
		list-style: none;
		& li {
			& a {
				color: $blue;
			}
		}
	}
}

#search {
	height: 35px;
	width: 100%;
	position: relative;
	
	@media (max-width: 767px) {
		& {
			width: auto;
		}
	}
	
	input {
		@include box-sizing(border-box);
		width: 35px;
		height: 35px;
		border: 1px solid $black;
		@include border-radius(100%);
		background: transparent;
		color: $red;
		font-size: 16px;
		font-weight: 400;
		outline: none;
		@include transition(width 100ms ease-in-out);
		
		&::-webkit-input-placeholder { color: transparent; }

		&:-moz-placeholder { color: transparent; }

		&::-moz-placeholder { color: transparent; }

		&:-ms-input-placeholder { color: transparent; }
		
	}
	
	.search {
		background-color: transparent;
		position: absolute;
		top: 0;
		left: 0;
		height: 35px;
		width: 35px;
		padding: 0;
		@include border-radius(100%);
		outline: none;
		border: 0;
		color: $black;
		cursor: pointer;
		@include transition(all 300ms ease-in-out);
		
		&:before,
		&:after {
			content: "";
			position: absolute;
			width: 1.7rem;
			height: .1rem;
			background-color: $black;
			@include transform(rotate(45deg));
			top: 2.3rem;
			left: 1.6rem;
			@include transition(all 300ms ease-in-out);
		}
	}
	
	.close {
		@include transition(all 400ms ease-in-out);
		right: 0;
		left: inherit;
	
		&:before {
			content: "";
			position: absolute;
			top: 1.1rem;
			left: 1.3rem;
			width: 27px;
			height: 4px;
			margin-top: -2px;
			margin-left: -12px;
			background-color: $red;
			@include transform(rotate(45deg));
			@include transition(all 200ms ease-in-out);
		}
		
		&:after {
			content: "";
			position: absolute;
			top: 1.1rem;
			left: 1.3rem;
			width: 27px;
			height: 4px;
			margin-top: -2px;
			margin-left: -12px;
			background-color: $red;
			@include transform(rotate(-45deg));
			@include transition(all 200ms ease-in-out);
		}
	}
	
	.square {
		@include box-sizing(border-box);
		padding: 0 4rem 0 (2rem / 2);
		width: 100%;
		height: 35px;
		border: 1px solid $black;
		@include border-radius(0);
		color: $black;
		background-color: transparent;
		@include transition(all 300ms ease-in-out);
		
		&::-webkit-input-placeholder { color: $red; }

		&:-moz-placeholder { color: $red; }

		&::-moz-placeholder { color: $red; }

		&:-ms-input-placeholder { color: $red; }
		
		&.active
		&:hover,
		&:focus,
		&:active {
			border-color: $red;
		}
	}
}

.sm-box {
	padding: 1.5rem;
	height: 18rem;
	color: $white;
	background-color: $white;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	width: 100%;
	position: relative;
	overflow: hidden;
	display: table;
	@include box-shadow(0 0 5px 2px rgba(0, 0, 0, .35));
	
	&-overlay {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: none;
		z-index: 998;
		@include transition(all 250ms cubic-bezier(.17, .67, .83, .67));
	}
	
	&-basket {
		display: table-cell;
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
    line-height: 135px;
    z-index: 999;
		@include transition(all 250ms ease-in-out);
		@include transform(translate3d(0, -100%, 0));
	}
	
	&-content {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 4rem;
		width: 100%;
		color: $red;
		z-index: 999;
		padding: 1rem 2rem;
		background-color: $white;
		line-height: 1.5;
		@include transition(all 250ms cubic-bezier(.17, .67, .83, .67));
		@include transform(translate3d(0, 100%, 0));
	}
	
	&.active,
	&:hover {
		@include box-shadow(0 0 6px 4px rgba(0, 0, 0, .35));
		
		.sm-box-content {
			@include transform(translate3d(0, 0, 0));
			
			& > i {
				@include animation(rotate 500ms ease);
			}
		}
		
		.sm-box-basket {
			@include transform(translate3d(0, 0, 0));
		}
		
		.sm-box-overlay {
			background-color: rgba(0, 0, 0, .6);
		}
	}
}

.product-box {
	h2 {
		@include transition(all 250ms ease);
	}
	
	&:hover {
	 h2 {
			color: $red;
		}
	}
}

.button {
	outline: none;
	border: 2px solid $white;
	padding: 1.2rem 2rem;
	margin-bottom: 1rem;
	width: 100%;
	white-space: nowrap;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 400;
	vertical-align: middle;
	line-height: 18px;
	text-align: center;
    @include box-sizing(border-box);
	text-decoration: none;
	color: $red;
	background-color: $white;
	@include border-radius(2rem);
	@include transition(all 250ms ease);
	display: inline-block;
	
	&.active,
	&:active,
	&:focus,
	&:hover {
		text-decoration: none;
		color: $white;
		outline: none;
	}
	
	&-red {
		background-color: $red;
		color: $white;
		border-color: $red;
		
		&.active,
		&:active,
		&:focus,
		&:hover {
			background-color: lighten($red, 5%);
			border-color: lighten($red, 5%);
		}
	}
	
	&-transparent {
		background-color: $white;
		color: $red;
		border-color: $red;
		
		&.active,
		&:active,
		&:focus,
		&:hover {
			background-color: $white;
			color: $red;
			border-color: $red;
		}
	}
}

.modal {
	&-content {
		@include border-radius(0px);
	}
	
	&-header {
		background-color: $red;
		color: $white;
	}
}

.badge {
	
	&-red {
		background-color: $red;
		color: $white;
	}
	
	&-white {
		background-color: $white;
		color: $red;
	}
}

.input-group-addon-holder {
	position: relative;
	
	.number-icon {
		position: absolute;
		top: 16px;
		right: 15px;
	
		& > i {
			display: none;
			color: $blue;
			@include transition(all 250ms ease);
		}
	}
	
	.cvv-icon {
		position: absolute;
		top: 66px;
		right: 15px;
		
		& > i {
			display: none;
			color: $blue;
			@include transition(all 250ms ease);
		}
	}
}

.input-group-addon {
	color: $black;
	border-color: $black;
	background-color: $white;
	@include border-radius(0);
}

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 1rem;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	font-size: 16px;
	color: $black;
	width: 100%;
	height: 50px;
}

.form-control {
	@include box-sizing(border-box);
	width: 100%;
	height: 50px;
	border: 1px solid $black;
	@include border-radius(0);
	background: transparent;
	color: $black;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	@include transition(all 300ms ease-in-out);
	
	&::-webkit-input-placeholder { color: $black; }

	&:-moz-placeholder { color: $black; }

	&::-moz-placeholder { color: $black; }

	&:-ms-input-placeholder { color: $black; }
	
	&-sibling {
		border-top: 1px solid transparent;
	}
	
	&.active
	&:hover,
	&:focus,
	&:active {
		border-color: $red;
	}
}

.select-styled {
	@include box-sizing(border-box);
	width: 100%;
	height: 50px;
	border: 1px solid $black;
	@include border-radius(0);
	background: transparent;
	padding: 1.3rem;
	color: $black;
	font-size: 16px;
	font-weight: 400;
	outline: none;
	@include transition(all 300ms ease-in-out);
	
	&:hover,
	&.active {
		border-color: $red;
	}
}

.select-options {
	list-style: none;
	display: none;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 9999;
	margin: 0;
	padding: 0;
	background-color: $white;
	border-left: 1px solid $red;
	border-right: 1px solid $red;
	border-bottom: 1px solid $red;
	
	& li {
		margin: 0;
		height: 50px;
		padding: 1.3rem;
		@include transition(all 250ms ease);
		
		&:first-child {
			display: none;
		}
		
		&:hover {
			background-color: lighten($red, 10%);
			color: $white;
		}
	}
}

.footer {
	background-color: $gray;
	padding: 2rem 0;
	&-inner {
		& h3 {
			color: lighten($black, 55%);
		}
		& .footer-list {
			padding: 0;
			margin: 0;
			display: block;
			& li {
				display: block;
				color: $white;
				margin-bottom: .8rem;
				& a {
                    color:$white;
					&:hover {
                        text-decoration: underline;
                        color: darken($orange, 15%);
					}
				}
			}
			&-inline {
				display: block;
				& li {
					display: inline-block;
					margin-right: 1.8rem;
				}
			}
		}
	}
}

@media (max-width: 767px) {
  .accordion-group {
    height: 360px;
    float: left;
    & li {
      & h3 {
        @include transform(rotate(90deg));
        width: 2.5rem;
        padding: 0;
        margin: 10rem 0;
      }
    }
  }
}

@-webkit-keyframes rotate {
	from {
		@include transform(rotate(0deg));
	} to {
		@include transform(rotate(360deg));
	}
}

@-moz-keyframes rotate {
	from {
		@include transform(rotate(0deg));
	} to {
		@include transform(rotate(360deg));
	}
}

@keyframes rotate {
	from {
		@include transform(rotate(0deg));
	} to {
		@include transform(rotate(360deg));
	}
}